## proyecto
# generados por script
data/
prog.xml
*.m3u
*.tkl

# desarrollo
sources/
localgen
remotegen
*.bat

## sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json