// Improve logos visibility in channel list
.edit-php.post-type-channel .striped > tbody > :nth-child(odd),
.edit-php.post-type-radio .striped > tbody > :nth-child(odd) {
  background-color: #dadada !important;
}

.edit-php.post-type-channel .striped > tbody > :nth-child(even),
.edit-php.post-type-radio .striped > tbody > :nth-child(even) {
  background-color: #cbcbcb !important;
}
